.flex,
.column,
.row {
    display: flex;
}

.column {
    flex-direction: column;
}

// ! WRAPS ! //
.wrap {
    flex-wrap: wrap;
}

.no-wrap {
    flex-wrap: nowrap;
}

// ! GAPS ! //
.gap-1 {
    gap: 0.25rem;
}

.gap-2 {
    gap: 0.5rem;
}

.gap-3 {
    gap: 0.75rem;
}

.gap-4 {
    gap: 1rem;
}

// ! ALIGN ITEMS ! //
.align-start {
    align-items: flex-start;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

.align-stretch {
    align-items: stretch;
}

// ! JUSTIFY CONTENT ! //
.justify-start {
    justify-content: flex-start;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-evenly {
    justify-content: space-evenly;
}

// ! ALIGN & JUSTIFY CENTER ! //
.flex-center {
    @extend .align-center, .justify-center;
}
