@use "../bootstrap.scss";

main:is(#auth.login) {
    @extend .column, .align-center;
    margin-top: clamp(1rem, 10%, 300px);

    form {
        fieldset {
            div:is(.row) {
                @extend .row, .align-center, .justify-center, .gap-2;
                grid-column: 1 / -1;

                input[type=checkbox] {
                    width: 1.25rem;
                    height: 1.25rem;
                }
            }

            div:is(.errors, .error) {
                @extend .column, .align-center;
            }
        }
    }
}